* {
    box-sizing: border-box;
  }

   @font-face {
    font-family:"sst";
    src: url(sst-fonts/SSTMedium.TTF);
  } 
  
  /* Create three equal columns that floats next to each other */
  .column-12 {
    float: left;
    width: 100%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    /**/
  }
  
  .retro {
    display: block;
    margin-left: auto;
    margin-right: auto;
     
  } 

  .banner {
     width: 100%;
     font-size: 50px;
     background-color:#4D21A1;
     min-height:500px;
     color:black;
    }

  .banner img {
    width:100%;
    }

  .column {
    float: left;
    width: 50%;
    padding: 30px;
    height:800px;
  
  }

  /* .column img {
    width:20px;
  } */

  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }